<ion-header>
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list no-border>
      <ion-item-divider icon-right color="light">
        Informações Básicas
      </ion-item-divider>
      <ion-list>
          <ion-item>
            <ion-label color="primary">Conectado</ion-label>
            <ion-toggle [(ngModel)]="data.connected" [ngModelOptions]="{standalone: true}" [disabled]="!update"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Habilitado</ion-label>
            <ion-toggle [(ngModel)]="data.enabled" [ngModelOptions]="{standalone: true}" [disabled]="!update"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              {{data.updatedValue}} <ion-note padding>Última Leitura</ion-note>
            </ion-label>
            <ion-icon name="pricetag" item-left></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              {{data.sync}} <ion-note padding>Sincronização</ion-note>
            </ion-label>
            <ion-icon name="pricetag" item-left></ion-icon>
          </ion-item>
      </ion-list>
      <ion-list>
          <ion-item>
            <ion-label>
              {{data.name}} <ion-note padding>Nome</ion-note>
            </ion-label>
            <ion-icon name="pricetag" item-left></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              {{data.label}} <ion-note padding>Label</ion-note>
            </ion-label>
            <ion-icon name="pricetag" item-left></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              {{data.description}} <ion-note padding>Descrição</ion-note>
            </ion-label>
            <ion-icon name="pricetag" item-left></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              {{data.unit}} <ion-note padding>unidade</ion-note>
            </ion-label>
            <ion-icon name="pricetag" item-left></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              {{data.image}} <ion-note padding>Imagem</ion-note>
            </ion-label>
            <ion-icon name="pricetag" item-left></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              {{data.icon}} <ion-note padding>ícone</ion-note>
            </ion-label>
            <ion-icon name="pricetag" item-left></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              {{data.geo}} <ion-note padding>Geolocalização</ion-note>
            </ion-label>
            <ion-icon name="pricetag" item-left></ion-icon>
          </ion-item>
      </ion-list>
      <ion-item-divider icon-right color="light" (click)="listConfigurations = !listConfigurations">
        Configurações
        <ion-icon name="arrow-dropright" *ngIf="!listConfigurations" item-right></ion-icon>
        <ion-icon name="arrow-dropdown"  *ngIf="listConfigurations" item-right></ion-icon>
      </ion-item-divider>
      <span *ngIf="listConfigurations">
        <ion-item-sliding [animateItemSliding]="shouldAnimate" *ngFor="let item of configurations;let index = index;trackBy:trackByIndex;">
          <ion-item *ngIf="configurations[index].type !== 'boolean'">
            <ion-label color="primary">{{configurations[index].attribute}}</ion-label>
            <ion-input type="text" [(ngModel)]="configurations[index]" [ngModelOptions]="{standalone: true}" ></ion-input>
            <button ion-button clear item-right (click)="updateAttribute(item)"><ion-icon name="send"></ion-icon></button>
          </ion-item>
          <button ion-item (click)="toggleUpdateAttr('configuration',item)" *ngIf="configurations[index].type !== 'boolean'">
            <ion-label>
              {{configurations[index].value}} <ion-note padding>{{configurations[index].attribute}}</ion-note>
            </ion-label>
            <ion-icon *ngIf="configurations[index].type !== 'object'" name="pricetag" item-left></ion-icon>
            <ion-icon *ngIf="configurations[index].type === 'object'" name="pricetags" item-left></ion-icon>
          </button>
          <ion-item *ngIf="configurations[index].type === 'boolean'">
            <ion-label>{{configurations[index].attribute}} <ion-note padding>{{configurations[index].value}}</ion-note></ion-label>
            <ion-toggle [(ngModel)]="configurations[index]" [ngModelOptions]="{standalone: true}" ></ion-toggle>
            <ion-icon *ngIf="configurations[index].value" name="checkmark-circle-outline" item-left></ion-icon>
            <ion-icon *ngIf="!configurations[index].value" name="radio-button-off" item-left></ion-icon>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="danger"  (click)="removeAttribute(configurations[index])">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
        <button ion-item color="primary" (click)="openModal('add')">
          Incluir Configuração
        </button>
      </span>
      <ion-item-divider icon-right color="light" (click)="listAttributes = !listAttributes">
        Propriedades
        <ion-icon name="arrow-dropright" *ngIf="!listAttributes" item-right></ion-icon>
        <ion-icon name="arrow-dropdown"  *ngIf="listAttributes" item-right></ion-icon>
      </ion-item-divider>
      <span *ngIf="listAttributes">
        <ion-item-sliding [animateItemSliding]="shouldAnimate" *ngFor="let item of info;let index = index;trackBy:trackByIndex;">
          <ion-item *ngIf="info[index].type !== 'boolean'">
            <ion-label color="primary">{{info[index].attribute}}</ion-label>
            <ion-input type="text" [(ngModel)]="info[item]" [ngModelOptions]="{standalone: true}" ></ion-input>
            <button ion-button clear item-right (click)="updateAttribute(item)"><ion-icon name="send"></ion-icon></button>
          </ion-item>
          <button ion-item (click)="toggleUpdateAttr(item)" *ngIf="info[index].type !== 'boolean'">
            <ion-label>
              {{info[index].value}} <ion-note padding>{{info[index].attribute}}</ion-note>
            </ion-label>
            <ion-icon *ngIf="info[index].type !== 'object'" name="pricetag" item-left></ion-icon>
            <ion-icon *ngIf="info[index].type === 'object'" name="pricetags" item-left></ion-icon>
          </button>
          <ion-item *ngIf="info[index].type === 'boolean'">
            <ion-label>{{info[index].attribute}} <ion-note padding>{{info[index].value}}</ion-note></ion-label>
            <ion-toggle [(ngModel)]="item"></ion-toggle>
            <ion-icon *ngIf="info[index].value" name="checkmark-circle-outline" item-left></ion-icon>
            <ion-icon *ngIf="!info[index].value" name="radio-button-off" item-left></ion-icon>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="danger"  (click)="removeAttribute(item)">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
        <button ion-item color="primary" (click)="openModal('add')">
          Incluir Atributo
        </button>
      </span>
      <ion-item-divider icon-right color="light" (click)="addAssociation($event)">
        Associações
        <ion-icon name="add-circle-outline" item-right ></ion-icon>
      </ion-item-divider>
      <ion-item-sliding [animateItemSliding]="shouldAnimate" *ngFor="let item of knowledges" #associationItem>
        <button ion-item (click)="itemTapped($event, item)">
          <ion-avatar item-left>
            <img [src]="(item.data.icon)?item.data.icon:imgdef">
          </ion-avatar>
          <h2>{{item.data.name}}</h2>
          <h3><em>{{item.type}}</em></h3>
          <p>{{item.subtype}}</p>
          <ion-icon name="chevron-right" item-right></ion-icon>
        </button>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="editItem($event, associationItem)">
            Editar
          </button>
          <button ion-button color="secondary"  (click)="enableItem($event, item)">
            Habilitar
          </button>
        </ion-item-options>
        <ion-item-options side="left">
          <button ion-button color="danger"  (click)="removeItem($event, item)">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
