<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let object of objects" #objectItem>
      <button ion-item (click)="itemTapped($event, object._id)">
        <ion-avatar item-left>
          <img [src]="(object.data.icon)?object.data.icon:imgdef">
        </ion-avatar>
        <h2>{{object.data.name}}</h2>
        <h3><em>{{object.data.type}}</em></h3>
        <p>{{object._id}}</p>
        <ion-icon name="chevron-right" item-right></ion-icon>
      </button>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="startItem($event, object._id)">
          Iniciar
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="danger"  (click)="remove($event, object._id)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
