ion-card .advanced-cards tabbar {
  height: 100px;
}

ion-card .advanced-cards tabbar a span.tab-button-text {
  text-transform: uppercase;
}

.cards-bg tab-highlight {
  background-color: #fff !important;
  top: 0;
}
