<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Equipamentos</ion-title>
    <ion-buttons end>
     <button ion-button icon-only (click)="openMenu()">
       <ion-icon name="more"></ion-icon>
     </button>
   </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="selectedItem">
        <ion-segment-button value="board">
        Hubs
      </ion-segment-button>
      <ion-segment-button value="sensor">
        Sensores
      </ion-segment-button>
      <ion-segment-button value="actuator">
        Atuadores
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini (click)="showMap()"><ion-icon name="compass"></ion-icon></button>
  </ion-fab>

  <div [ngSwitch]="getItems(selectedItem)">
    <ion-list>
      <ion-item-sliding [animateItemSliding]="shouldAnimate" *ngFor="let item of filteredItems" #associationItem>
        <button ion-item (click)="itemTapped($event, item)">
          <ion-avatar item-left>
            <img [src]="(item.data.icon)?item.data.icon:imgdef">
          </ion-avatar>
          <h2>{{item.data.name}}</h2>
          <h3><em>{{item.data.category}}</em></h3>
          <p>{{item.data.label}}</p>
          <ion-icon name="chevron-right" item-right></ion-icon>
        </button>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="editItem($event, item)">
            Editar
          </button>
          <button ion-button color="secondary"  (click)="conectItem($event, item)">
            Conectar
          </button>
        </ion-item-options>
        <ion-item-options side="left">
          <button ion-button color="danger"  (click)="removeItem($event, item._id)">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!--<ion-list>
    <ion-item-sliding [animateItemSliding]="shouldAnimate" *ngFor="let object of objects" #objectItem>
      <button ion-item (click)="itemTapped($event, object.key)">
        <ion-avatar item-left>
          <img [src]="(object.data.icon)?object.data.icon:imgdef">
        </ion-avatar>
        <h2>{{object.data.name}}</h2>
        <h3><em>{{object.data.type}}</em></h3>
        <p>{{object.key}}</p>
        <ion-icon name="chevron-right" item-right></ion-icon>
      </button>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="startItem($event, object.key)">
          Iniciar
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger"  (click)="remove($event, object.key)">
          <ion-icon name="minus-circled"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>-->
</ion-content>
