em {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.liked{
  color: rgba(192, 191, 127, 0.8);
}

.scroll{
  position:absolute !important;
  top:0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  overflow:scroll !important;
}

.item-divider{
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0px;
  z-index: 3 !important;
}

/* General
==================================*/
h1 {
  color: #fff;
  text-shadow: 0 1px 0px #000;
  font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
  border-top: solid 2px #bbb;
  padding-top: 30px;
}

p {
  color: #555;
  margin: 0 0 25px;
}

.scroll {
  height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
  transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
  background-color: #222;
}

.menu h2 {
  bottom: 0;
  font-size: 18px;
  left: 16px;
  position: absolute;
}

.menu .avatar {
  height: 88px;
  width: 88px;
}

.menu.menu-left * {
  font-weight: bold;
}

.menu-open .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
  content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
  background-color: #fff;
  background: url('../assets/images/SmartSensorsLogo.svg') center;
  background-size: cover;
  border-radius: 50%;
  height: 125px;
  margin: 0 auto;
  width: 125px;
}

.social-login {
  position: fixed;
  bottom: 0;
}
