ion-card.adv-map img {
  max-height: 50px;
}

ion-card.adv-map p {
  font-size: 0.7em !important;
}

button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}

.item-bold {
  font-weight: bold;
}

ion-content.cards-bg {
  background-color: #f4f4f7;
}

.honeydew{
  background-color: rgb(240,255,240);
}

.lightseagreen{
  background-color: rgb(32,178,170);
}

.mediumspringgreen{
  background-color: rgb(0,250,154);
}

.mediumaquamarine{
  background-color: rgb(102,205,170);
}

.aliceblue{
  background-color: rgb(240,248,255);
}

.lightblue{
  background-color: rgb(173,216,230);
}

.powderblue{
  background-color: rgb(176,224,230);
}
.lightskyblue{
  background-color: rgb(135,206,250);
}
.deepskyblue{
  background-color: rgb(0,191,255);
}
.steelblue{
  background-color: rgb(70,130,180);
}

.mistyrose{
    background-color: rgb(255,228,225);
}
.salmon{
  background-color: rgb(250,128,114);
}

.indianred{
  background-color: rgb(205,92,92);
}

.tomato{
  background-color: rgb(255,99,71);
}

.firebrick{
  background-color: rgb(178,34,34);
}
