.height100{
  height: 100%;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.fixed-fab {
  position: fixed !important;
}

.header-btn {
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 2px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: rgba(10, 10, 10,1);
}


.header-btn:active {
  color: rgb(100, 100, 100);
  box-shadow: 0 3px #17954c;
  border-color: rgba(0,0,0,0.2);
  opacity: .5;
}
