<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment  [(ngModel)]="selectedSegment">
      <ion-segment-button value="main">
        Definições
      </ion-segment-button>
      <ion-segment-button value="configurations">
        Configurações
      </ion-segment-button>
      <ion-segment-button value="relations">
        Associações
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [hidden]="submitted">
    <form novalidate [formGroup]="knowledgeForm" >
      <!--<ion-item>
        <ion-label>Acesso</ion-label>
        <ion-input type="text" formControlName="access"></ion-input>
      </ion-item>-->
      <div [ngSwitch]="selectedSegment">
        <span formGroupName="data">
        <ion-list *ngSwitchCase="'main'">
          <!-- name attribute -->
          <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <!-- label attribute -->
          <ion-item>
            <ion-label>Label</ion-label>
            <ion-input type="text" formControlName="label"></ion-input>
          </ion-item>
          <!-- description attribute -->
          <ion-item>
            <ion-label>Descrição</ion-label>
            <ion-input type="text" formControlName="description"></ion-input>
          </ion-item>
          <!-- geo attribute -->
          <span formGroupName="geo">
            <ion-item-group no-lines>
              <ion-item-divider color="light">Endereço</ion-item-divider>
              <ion-item>
                <ion-label>Endereço</ion-label>
                <ion-input type="text" formControlName="address" placeholder="Endereço"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Latitude</ion-label>
                <ion-input type="number" formControlName="lat" placeholder="Latitude"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Longitude</ion-label>
                <ion-input type="number" formControlName="lng" placeholder="Longitude"></ion-input>
              </ion-item>
            </ion-item-group>
          </span>
          <ion-item-divider icon-right color="light" (click)="listInfo = !listInfo">
            Atributos customizados
            <ion-icon name="arrow-dropright" *ngIf="!listInfo" item-right></ion-icon>
            <ion-icon name="arrow-dropdown"  *ngIf="listInfo" item-right></ion-icon>
          </ion-item-divider>
          <!-- info array -->
          <span formArrayName="info"  *ngIf="listInfo">
              <span class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.data.controls.info.controls; let i = index">
                <ion-list inset>
                  <ion-item-sliding>
                    <ion-item color="light">
                      Item {{item.value.attribute}} <ion-note> {{item.value.type}} </ion-note>
                    </ion-item>
                    <ion-item-options side="left">
                      <button ion-button color="danger" (click)="removeItem('info', i)">
                        <ion-icon name="trash" large></ion-icon>
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
                  <ion-item *ngIf="!selectedItem">
                    <ion-input type="text" formControlName="attribute" placeholder="Atributo"></ion-input>
                    <ion-input type="text" formControlName="type" placeholder="Tipo"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" formControlName="value" placeholder="Valor"></ion-input>
                  </ion-item>
                </ion-list>
              </span>
              <button ion-item color="primary" (click)="addItem('info')">
                Incluir Atributo
              </button>

          </span>
          <!-- unit attribute -->
          <!--<ion-item>
            <ion-label>Unidade</ion-label>
            <select class="form-control" formControlName="unit">
              <option *ngFor="let un of referenceData.units" [value]="un.value">{{un.display}}</option>
            </select>
          </ion-item>-->
          <!-- image attribute -->
          <!--<ion-item>
            <ion-label>Imagem</ion-label>
            <ion-input type="text" formControlName="image"></ion-input>
          </ion-item>-->
          <!-- icon attribute -->
          <!--<ion-item>
            <ion-label>Ícone</ion-label>
            <select class="form-control" formControlName="icon">
              <option *ngFor="let ico of referenceData.icons" [value]="ico.value">{{ico.display}}</option>
            </select>
          </ion-item>-->
        </ion-list>
        <ion-list  *ngSwitchCase="'configurations'">
              <ion-item-divider icon-right color="light">Configurações</ion-item-divider>
          <span formArrayName="configurations">
                <ion-list inset class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.data.controls.configurations.controls; let i = index">
                  <ion-item-sliding>
                    <ion-item icon-right color="light" (click)="listConfigurations[i] = !listConfigurations[i]">
                      Item {{item.value.attribute}}  <ion-note> {{item.value.type}} </ion-note>
                      <ion-icon name="arrow-dropright" *ngIf="!listConfigurations[i]" item-right></ion-icon>
                      <ion-icon name="arrow-dropdown"  *ngIf="listConfigurations[i]" item-right></ion-icon>
                    </ion-item>
                    <ion-item-options side="left">
                      <button ion-button color="danger" (click)="removeItem('configurations', i)">
                        <ion-icon name="trash" large></ion-icon>
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
                  <ion-item *ngIf="listConfigurations[i] && !selectedItem">
                    <ion-input type="text" formControlName="attribute" placeholder="Atributo"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="listConfigurations[i] && !selectedItem">
                    <ion-input type="text" formControlName="type" placeholder="Tipo"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="listConfigurations[i]">
                    <ion-input type="text" formControlName="value" placeholder="Valor"></ion-input>
                  </ion-item>
                </ion-list>
          </span>
          <button ion-item full color="primary" (click)="addItem('configurations')">
            Incluir Configuração
          </button>
        </ion-list>
        </span>
        <ion-list  *ngSwitchCase="'relations'">
          <span formGroupName="relations">
            <!--<ion-item>
              <ion-label>Camada Superior</ion-label>
              <ion-input type="text" formControlName="parent"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Possui abstração?</ion-label>
              <ion-toggle formControlName="abstraction"></ion-toggle>
            </ion-item>-->
            <ion-item-divider icon-right color="light"> Associações</ion-item-divider>
            <ion-slides pager="true" parallax="true" >
              <ion-slide [formArrayName]="arrayItem.name" *ngFor="let arrayItem of templateData.relations; let i = index">
                <ion-list>
                  <ion-item-divider icon-right color="light">{{arrayItem.name}}</ion-item-divider>
                  <span class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.relations.controls[arrayItem.name].controls; let i = index">
                    <ion-item-group>
                      <ion-item-sliding>
                        <ion-item icon-right color="light">
                          Item {{item.value.id}}
                        </ion-item>
                        <ion-item-options side="left">
                          <button ion-button color="danger" (click)="removeAssociation('ownedBy',i)">
                            <ion-icon name="trash" large></ion-icon>
                          </button>
                        </ion-item-options>
                      </ion-item-sliding>
                      <ion-item *ngIf="!selectedItem">
                        <ion-label color="primary">ID</ion-label>
                        <ion-input type="text" formControlName="id"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label>Leitura</ion-label>
                        <ion-checkbox formControlName="view"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                        <ion-label>Publicação</ion-label>
                        <ion-checkbox  formControlName="publish"></ion-checkbox>
                      </ion-item>
                      <ion-list class="radio-group-margin-fix" radio-group formControlName="access">
                        <ion-item>
                          <ion-label>Publico</ion-label>
                          <ion-radio value="public"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Privado</ion-label>
                          <ion-radio value="private"></ion-radio>
                        </ion-item>
                      </ion-list>
                    </ion-item-group>
                  </span>
                </ion-list>
                <button ion-item color="primary" (click)="addAssociation('ownedBy')">Incluir</button>
              </ion-slide>
            </ion-slides>
          </span>
        </ion-list >
      </div>

      <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="send"></ion-icon></button>
        <ion-fab-list side="left">
          <button ion-fab color="secondary" [disabled]="knowledgeForm.invalid" (ngClick)="onSubmit($event)" ><ion-icon name="send"></ion-icon></button>
          <!--<button ion-fab color="light" (click)="newHero(); knowledgeForm.reset()"><ion-icon name="logo-googleplus"></ion-icon></button>-->
        </ion-fab-list>
      </ion-fab>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Nome</div>
      <div class="col-xs-9  pull-left">{{ knowledge.data.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Label</div>
      <div class="col-xs-9 pull-left">{{ knowledge.data.label }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Descrição</div>
      <div class="col-xs-9 pull-left">{{ knowledge.data.description }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Editar</button>
</div>
</ion-content>
